<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">  
</head>
<body>
        <img id="hamburger-open-onClick" onClick='readyAllThings()' src="/img/hamb2.svg" alt="hamburger menu">
    <nav class="navbar">
            <li><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Skillset</a></li>
            <li id="hamburger-close-onClick"><a href="#"">X</li>


    </nav>
