<% include partials/header.ejs %>

<div>
<a id='hamburger-open-onClick' ><i class="fa fa-bars" onclick='readyAllThings()'></i></a>
</div>
<div class="devThings">
<h1 id="developer-name">Aniket Batabyal</h1>
    <img src="/img/face.jpg" id="face">
    <div class="socials">
    <i id='github' class="fa fa-github"></i>
    <i id='facebook' class="fa fa-facebook"></i>
</div>
<p><h3>email : <a id="email" href="#">aniketbatabyal1996@gmail.com</a> </h3></p>
<h3 id="motivation">Aspiring Back End Developer</h3>
<a id ="website" href="https://techous.github.io">techous.github.io</a>
</div>
<section class="logo">
       
    <div class="or">    <img id="techous" src="/img/techous.jpg" alt="techous pic">
    <h1>Tech Of Us Community website</h1>
    <p id="description"> Tech of us is a github hosted open source community,<br>with the single aim of bringing open source for all by making easy projects that welcome contributions.<br>This was made using simple html,css and a hint of js.<br>To know more..</p>
    <button class="btn">click here</button>
</div>


</section>

<% include partials/footer.ejs %>