<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
</head>
<body>
    <h1> Welcome to My portfolio, basically its on the building stage but you can check the codebase</h1>
    <p> always remember to use good visuals xD</p>
    <p> getting the design ready will be a huge task but it's my profile, idk</p>
</body>
</html>